﻿@model LogicaDatos.Datos.Pais
@using LogicaDatos.Datos;
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
@if (ViewBag.Error != null)
{
        <tr>
            <td>
                <label style="color:red">@ViewBag.Error</label>
            </td>
        </tr>
}
<h4>Pais</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PBI" class="control-label"></label>
                <input asp-for="PBI" class="form-control" />
                <span asp-validation-for="PBI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poblacion" class="control-label"></label>
                <input asp-for="Poblacion" class="form-control" />
                <span asp-validation-for="Poblacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="foto" class="control-label"></label>
                <input type="file" name="foto" class="form-control" />
                <span asp-validation="imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="regionID" class="control-label">Regiones</label>
                <select name="regionID">
                    @if (ViewBag.Regiones != null)
                    {
                        @for (int i = 0; i < ViewBag.Regiones.Count; i++)
						{
                           <option value="@ViewBag.IdRegiones[i]">@ViewBag.Regiones[i]</option>
						}
                    }
                </select>
                <span asp-validation="tipoPlanta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
