﻿@model LogicaDatos.Datos.Pais

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>Pais</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PBI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PBI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poblacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poblacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dt class="col-sm-10">
            <img class="img-thumbnail" src="~/imagenes/fotos/@Model.Imagen" style="background-color : black" />
        </dt>
        <dt class = "col-sm-2">
            Region
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._Region.Nombre)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="DisplayAllPaises">Back to List</a>
</div>
