﻿@model IEnumerable<LogicaDatos.Datos.Pais>

@{
    ViewData["Title"] = "DisplayAllPaises";
}

<h1>DisplayAllPaises</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
  <section class="row">

        <form method="post" id="busquedaPais" class="justify-content-center p-5 col-6" action="@Url.Action("DisplayAllPaises","Pais")">
            <h3 >Buscar Paises</h3>
            <div class="row justify-content-center" style="text-transform: uppercase;">
                <div class="form-group col-12">
                    <label for="id" class="p-2">ID:</label>
                    <input id="id" name="id">
                </div>
                <div class="form-group col-12">
                    <label for="codigo" class="p-2">Codigo:</label>
                    <input id="codigo" name="codigo">
                </div>
                <div class="form-group col-12">
                    <label for="region" class="control-label p-2">Region:</label>
                    <select name="region" id="region">
                        @if (ViewBag.Regiones != null)
                        {
                            @for (int i = 0; i < ViewBag.Regiones.Count; i++)
                            {
                                <option value="@ViewBag.IdRegiones[i]">@ViewBag.Regiones[i]</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <input type="submit"  value="Buscar" class="btn btn-primary" />
            <a asp-action="DisplayAllPaises">Buscar todos los paises</a>
        </form>

    </section>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PBI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poblacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PBI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poblacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._Region.Nombre)
            </td>
            <td>
                <dd class="col-sm-2">
                    <img class="img-thumbnail" src="~/imagenes/fotos/@item.Imagen" style="background-color : black" />
                </dd>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.ID  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.ID })
            </td>
        </tr>
}
    </tbody>
</table>

