﻿@model LogicaDatos.Datos.Pais

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>Pais</h4>
<h4 class="text-red">@ViewBag.Mensaje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit"  enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" placeholder="@Model.Nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" placeholder="@Model.Codigo" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PBI" class="control-label"></label>
                <input asp-for="PBI" class="form-control" placeholder="@Model.PBI" />
                <span asp-validation-for="PBI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poblacion" class="control-label"></label>
                <input asp-for="Poblacion" class="form-control" placeholder="@Model.Poblacion"/>
                <span asp-validation-for="Poblacion" class="text-danger"></span>
            </div>
             <div class="form-group">
                <dt class = "col-sm-2">
                    Imagen Actual
                </dt>
                <dt class="col-sm-10">
                    <img class="img-thumbnail" src="~/imagenes/fotos/@Model.Imagen" style="background-color : black" />
                </dt>
            </div>
            <div class="form-group">
                <label for="foto" class="control-label"></label>
                <input type="file" name="foto" class="form-control" />
                <span asp-validation="imagen" class="text-danger"></span>
            </div>
             <div class="form-group">
                <dt class = "col-sm-2">
                    Region Actual
                </dt>
                <dd class = "col-sm-10">
                        @Model._Region.Nombre
                </dd>
             </div>
            <div class="form-group">
                <label for="regionID" class="control-label">Regiones</label>
                <select name="regionID">
                    @if (ViewBag.Regiones != null)
                    {
                        @for (int i = 0; i < ViewBag.Regiones.Count; i++)
                        {
                                   <option value="@ViewBag.IdRegiones[i]">@ViewBag.Regiones[i]</option>
                        }
                    }
                </select>
                <span asp-validation="regionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DisplayAllPaises">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
