﻿@model IEnumerable<ObligatorioP32022.Models.SeleccionModel.SeleccionResultadosModel>

@{
    ViewData["Title"] = "CalificacionGrupo";
}

<h1>Calificacion del Grupo</h1>
<form asp-action="CalificacionGrupo" method="get">
        <label for="grupo" class="control-label">Grupo : </label>
        @Html.DropDownList("grupo", new SelectList(ViewBag.grupos))
        <input type="submit" value="Buscar Calificacion" class="btn btn-danger" />
</form>
<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreSeleccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GolesAFavor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GolesEnContra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GolesDiferencia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreSeleccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GolesAFavor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GolesEnContra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GolesDiferencia)
            </td>
        </tr>
}
    </tbody>
</table>
