﻿@model ObligatorioP32022.Models.SeleccionModel.SeleccionAltaModel

@{
    ViewData["Title"] = "Create";
}

<h1>View</h1>

<h4>SeleccionAltaModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaisId" class="control-label"></label>
                @Html.DropDownListFor(model => model.PaisId, new SelectList(ViewBag.paises, "ID", "Nombre"), "Seleccione un pais")
                <span asp-validation-for="PaisId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantApostadores" class="control-label"></label>
                <input asp-for="CantApostadores" class="form-control" />
                <span asp-validation-for="CantApostadores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grupo" class="control-label"></label>
                @Html.DropDownList("Grupo", new SelectList(ViewBag.grupos))
                <span asp-validation-for="Grupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DisplayAllSeleccion">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
