﻿@model ObligatorioP32022.Models.SeleccionModel.SeleccionMuestraModel

@{
    ViewData["Title"] = "Delete";
}

<h1>View</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SeleccionMuestraModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantApostadores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantApostadores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grupo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grupo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="DisplayAllSeleccion">Back to List</a>
    </form>
</div>
