﻿@model ObligatorioP32022.Models.SeleccionModel.SeleccionMuestraModel

@{
    ViewData["Title"] = "Details";
}

<h1>View</h1>

<div>
    <h4>SeleccionMuestraModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePais)
        </dt>
        <dt class="col-sm-10">
            <img class="img-thumbnail" src="~/imagenes/fotos/@Model.nombreUrlBandera" style="background-color : black" />
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoPais)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantApostadores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantApostadores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grupo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grupo)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    <a asp-action="DisplayAllSeleccion">Back to List</a>
</div>
