﻿@model IEnumerable<ObligatorioP32022.Models.SeleccionModel.SeleccionMuestraModel>

@{
    ViewData["Title"] = "DisplayAllSeleccion";
}

<h1>DisplayAllSeleccion</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombrePais)
            </th>
            <th>
                Imagen
            </th>
			<th>
                @Html.DisplayNameFor(model => model.CodigoPais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantApostadores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grupo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePais)
            </td>
            <td>
                <dd class="col-sm-12">
                    <img class="img-thumbnail" src="~/imagenes/fotos/@item.nombreUrlBandera" style="background-color : black" />
                </dd>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantApostadores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grupo)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.id  }) |
                    @Html.ActionLink("Details", "Details", new { id=item.id }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.id })
            </td>
        </tr>
}
    </tbody>
</table>
