﻿@model ObligatorioP32022.Models.SeleccionModel.SeleccionEditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>View</h1>

<h4>SeleccionEditModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group d-none">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" placeholder="@Model.id"/>
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaisId" class="control-label"></label>
                @Html.DropDownListFor(model => model.PaisId, new SelectList(ViewBag.paises, "ID", "Nombre"), "Seleccione un país")
                <span asp-validation-for="PaisId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" placeholder="@Model.Nombre"/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="@Model.Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" placeholder="@Model.Telefono"/>
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantApostadores" class="control-label"></label>
                <input asp-for="CantApostadores" class="form-control" placeholder="@Model.CantApostadores"/>
                <span asp-validation-for="CantApostadores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grupo" class="control-label"></label>
                @Html.DropDownListFor(model => model.Grupo, new SelectList(ViewBag.grupos))
                <span asp-validation-for="Grupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DisplayAllSeleccion">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
