﻿@model IEnumerable<ObligatorioP32022.Models.PartidoModel.PartidoShowModel>

@{
    ViewData["Title"] = "Partidos";
}

<h1>Partidos</h1>
<form asp-action="GetPartidoBy" method="get">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="GrupoSeleccion" class="control-label">Grupo : </label>
                     @Html.DropDownList("GrupoSeleccion", new SelectList(ViewBag.grupos),"Elegir Grupo")
                </div>
                 <div class="form-group">
                    <label for="CodigoISO" class="control-label">Codigo ISO : </label>
                    <input name="CodigoISO" class="form-control" />
                 </div>
                 <div class="form-group">
                    <label for="NombreParticipante" class="control-label">Nombre Participante : </label>
                    <input name="NombreParticipante" class="form-control" />
                 </div>
                 <div class="form-group">
                    <label for="Fecha1" class="control-label">Fecha Inicial : </label>
                    <input type="date" name="Fecha1" class="form-control" />
                 </div>
                 <div class="form-group">
                    <label for="Fecha2" class="control-label">Fecha Final : </label>
                    <input type="date" name="Fecha2" class="form-control" />
                 </div>
                 <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-danger" />
			</div>
        </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreSeleccion1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GolesSeleccion1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmarillasSeleccion1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RojasSeleccion1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuntajeSeleccion1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreSeleccion2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GolesSeleccion2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmarillasSeleccion2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RojasSeleccion2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuntajeSeleccion2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreSeleccion1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GolesSeleccion1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmarillasSeleccion1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RojasSeleccion1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuntajeSeleccion1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreSeleccion2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GolesSeleccion2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmarillasSeleccion2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RojasSeleccion2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuntajeSeleccion2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYHora)
            </td>
        </tr>
}
    </tbody>
</table>
