﻿
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<h3 class="text-danger">@ViewBag.error</h3>
<form asp-action="Login" method="post">
        <div class="row">
            <div class="col-md-4">
                 <div class="form-group">
                    <label for="Email" class="control-label">Email : </label>
                    <input name="Email" class="form-control" />
                 </div>
                 <div class="form-group">
                    <label for="Password" class="control-label">Contraseña : </label>
                    <input type="password" name="Password" class="form-control" />
                 </div>
                 <div class="form-group">
                <input type="submit" value="Login" class="btn btn-danger" />
            </div>
        </div>
</form>